<div style="height: 100%; overflow: hidden">
  <div style="vertical-align: middle">
    <button (click)="drawer.toggle()" color="primary" mat-icon-button type="button">
      <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
  </div>


  <mat-drawer-container class="mytodofrontend-container">
    <mat-drawer #drawer [opened]="true" class="mytodofrontend-sidenav" mode="side">
      <div>
        <div>
          <button [routerLink]="['dashboard']" color="primary" mat-button>
            <mat-icon>dashboard</mat-icon>&nbsp;{{'nav.dashboard' | translate }}</button>
        </div>
        <div>
          <button [routerLink]="['folder']" color="primary" mat-button>
            <mat-icon>Folder</mat-icon>&nbsp;{{'nav.folder' | translate }}</button>
        </div>
        <div>
          <button [routerLink]="['employees']" color="primary" mat-button>
            <mat-icon>name</mat-icon>&nbsp;{{'nav.employees' | translate }}</button>
        </div>
        <div>
          <button [routerLink]="['tag']" color="primary" mat-button>
            <mat-icon>tag</mat-icon>&nbsp;{{'nav.tag' | translate }}</button>
        </div>
        <div>
          <button [routerLink]="['task']" color="primary" mat-button>
            <mat-icon>task</mat-icon>&nbsp;{{'nav.task' | translate }}</button>
        </div>
        <div *ngIf="oauthService.hasValidAccessToken()" style="margin-top: 50px">
          <button (click)="logout()" color="warn" mat-button>
            <mat-icon>logout</mat-icon>
            {{ 'nav.logout' | translate }}
          </button>
        </div>
      </div>
      <div style="margin-top: 50px;margin-left: 20px;">
        <mat-form-field style="width: 80%">
          <mat-label>{{ 'main.lang' | translate }}</mat-label>
          <mat-select #langSelect (valueChange)="setLanguage(langSelect.value)" [value]="translate.currentLang">
            <mat-option value="de_CH">Deutsch</mat-option>
            <mat-option value="en">English</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-drawer>

    <div class="mytodofronend-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>

