<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="toolbar-spacer"></span>
        <button (click)="back()" color="primary" mat-button style="color: white">
          <mat-icon>arrow_back_ios</mat-icon>
          {{ 'main.button_back' | translate }}
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="app-form">
    <form (ngSubmit)="save(objForm.value)" [formGroup]="objForm!">
      <mat-form-field>
        <mat-label>{{ 'task.priority' | translate }}</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option *ngFor="let priority of priorities" [value]="priority">
            {{ priority }}
          </mat-option>
        </mat-select>
      </mat-form-field>
        </mat-select>
        <mat-form-field>
      </mat-form-field>
        <mat-label>{{ 'task.tag' | translate }}</mat-label>
        <mat-select form formControlName="tagId" required>
          <mat-option *ngFor="let tag of tags" [value]="tag.id">
            {{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'task.employee' | translate }}</mat-label>
        <mat-select formControlName="employeeId" required>
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
           {{employee.firstname}}&nbsp;{{employee.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'task.title' | translate }}</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'task.description' | translate }}</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'task.dueDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
         <mat-label>{{ 'task.folder' | translate }}</mat-label>
        <mat-select formControlName="folderId" required>
          <mat-option *ngFor="let folder of folders" [value]="folder.id">
            {{ folder.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <button [disabled]="!objForm.valid" color="primary" mat-raised-button style="width: 200px">
        {{ 'main.button_save' | translate }}
      </button>
    </form>
  </div>
</div>
